* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  background-color: darkcyan;
  height: 100vh;
}

.input {
  height: 40%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text {
  font-size: 4em;
}
